<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <queries>
    <intent>
      <action android:name="android.intent.action.TTS_SERVICE" />
    </intent>
  </queries>

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.AsociacionMayoresVillanueva">

    <!-- LOGIN = PANTALLA INICIAL -->
    <activity
      android:name="com.masenjoandroid.asociacionmayoresvillanueva.ui.activity.LoginActivity"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <!-- REGISTRO -->
    <activity
      android:name="com.masenjoandroid.asociacionmayoresvillanueva.ui.activity.RegisterActivity"
      android:exported="false" />

    <!-- PANTALLA PRINCIPAL (SOLO TRAS LOGIN) -->
    <activity
      android:name="com.masenjoandroid.asociacionmayoresvillanueva.ui.activity.MainActivity"
      android:exported="false" />

    <!-- ENROLL -->
    <activity
      android:name="com.masenjoandroid.asociacionmayoresvillanueva.ui.activity.EnrollActivity"
      android:exported="false" />

  </application>
</manifest>

